{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>➕ Registrar Mascota</h2>

    <form method="POST" action="{{ url_for('mascotas.crear') }}">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Especie</label>
            <input type="text" name="especie" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Raza</label>
            <input type="text" name="raza" class="form-control" required>
        </div>
       <div class="mb-3">
    <label class="form-label">Fecha de Nacimiento</label>
    <input type="date" name="fecha_nacimiento" class="form-control" required>
</div>

        <div class="mb-3">
    <label class="form-label">Género</label>
    <select name="genero" class="form-control" required>
        <option value="Macho">Macho</option>
        <option value="Hembra">Hembra</option>
    </select>
</div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{{ url_for('mascotas.index') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
